<ul>
  {{#each model as |user|}}
    <li>{{user.userName}}</li>
  {{/each}}
</ul>

<div class='text-center'>
Complete with this module?  Learn more about <a href="/users/new">controllers</a>
</div>

<hr>

<div class='helper-text text-center'>
  <li>Explain ember models</li>
  <li>Explain routing and index, setting a model for the route</li>
  <li>Explain ember each helper</li>
  <li>Explain mirage, scenarios, factories, setup</li>
  <li>Explain linking to an individual model</li>

  <li>Write component to show user info (user-details)</li>
  <li>Make sure tests pass</li>
</div>