<div class="container text-center">
  {{errors myErrors=myErrors success=success}}
  <form>
    <row class="col-md-12">
      <label>Username</Label>
      {{input id='username' value=userName placeholder="Username"}}
    </row>
    <br>
    <row class="col-md-12">
      <label>Password</Label>
      {{input id='password' value=password placeholder="Password"}}
    </row>
    <br>
    <button {{action "submit"}} id='submit' class="btn btn-large btn-primary">Submit!</button>
  </form>
</div>
