<div class='wrapper container text-center'>
  <h1 id='title' class='jumbotron'>Hello World!</h1>
  Complete with this module?  Learn about <a href="/login-page-object">page objects</a>
  <hr>
  <code>
    {{code-snippet name="hello-world.js"}}
  </code>
  <div class='helper-text'>
    <li>Explain Router</li>
    <li>Explain Templates</li>
    <li>Explain tests</li>
    <li>Run tests, they should be green!</li>
    <li>Write another expect text.</li>
  </div>

</div>
