<div id="main-splash">
  <div id="main-text" class="text-center">
    <h1> Firestarter</h1>
    Ember Training Module
    <br>
    To get started please visit <a href="/hello-world">'/hello-world'</a>
  </div>
</div>
