<div class="container">
  <h2>Module 1</h2>
  <hr>
  <p>
    Some text here
  </p>
</div>

<div class="container">
  <h2>Module 2</h2>
  <hr>
  <p>
    Some text here
  </p>
</div>

<div class="container">
  <h2>Module 3</h2>
  <hr>
  <p>
    Some text here
  </p>
</div>